.name {
  color: darkblue;
  font-style: inherit;
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.adr {
  font-style: oblique;
  font-weight: lighter;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.img {
  box-shadow: 0 4px 8px 0 rgb(37, 95, 213);
  transition: 1s;
  width: 32.5%;
}
